<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
{% include "../main/head.html" %}
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sigh_in</title>
</head> -->

<body>
    <div class="container-md pt-5">
        <form action="/member/user_edit" method="post">
        {% csrf_token %}
        <p> 아이디   : <input type="text" name="username" value="{{user_check.username}}" readonly /><br/></p>
        <p>이름     : <input type="name" name="name" value="{{user_check.name}}"/><br/></p>
        <p>이메일   : <input type="text" name="email" value="{{user_check.email}}"/><br/></p>
        <!-- 생년월일 : <input type="text" name="birth_date" value="{{user_check.birth_date}}"/><br/> -->
        <p><label for= "birth_date"> 생년월일</label>           
            <input type="date" name="birth_date"   value="{{user_check.birth_date}}" /></p>

        <p><input type="button" value="뒤로가기" onclick="history.back();" />
            <input type="submit" class="btn btn-dark"  value="수정"/></p>
        </form>
    </div>
</body>
</html>
