<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
{% include "../main/head.html" %}
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sigh_in</title>
</head> -->

<body>
    <div class="container-md pt-5">
        <form action="/member/user_edit_pw" method="post">
        {% csrf_token %}
        <p> 아이디   : <input type="text" name="username" value="{{user_check.username}}" readonly /><br/></p>
        <p> 기존암호  : <input type="password" name="pw"  /><br/> </p>
        <p> 바꿀암호  : <input type="password" name="new_pw"  /><br/> </p>
        <p> 재암호입력: <input type="password" name="new_pw"  /><br/> </p>

        <p><input type="button" value="뒤로가기" onclick="history.back();" />
            <input type="submit" class="bn btn-dark" value="변경"></p>
        </form>
    </div>
</body>
</html>
