<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Country and Year</title>
</head>
<body>
<!-- 로그인 start -->
<div class="container-md pt-5">
    {% if not request.user.is_authenticated %}
    <p><a href="/member/sign_in"  class="btn btn-dark"> 로그인 - SignIn </a>
    <a href="/member/sign_up"  class="btn btn-dark" > 회원가입 - SignUp </a></p>

    {% else %}

    <p> 반갑습니다. {{request.user.name}}님</p>
    <hr />
    아이디 정보 : {{request.user.username}} <br/>
    이름 정보   : {{request.user.name}} <br/>
    이메일 정보 : {{request.user.email}} <br/>
    <hr />
    
    <p><a href="/member/user_mypage"> 마이페이지 </a>
    <a href="/member/sign_out"> 로그아웃 </a></p>
    
    {% endif %}
</div>


<!-- 로그인 end -->

    <form action ="/service/search_show" method ="post">
        <h4>나라명과 년도 검색하세요 </h4>
        <td><input type ="text" name ="country_name"/></td>
        <td><input type ="text" name ="year"/></td> 
        <input type ="submit" value = "검색"/> 
    </form>
    <hr> <hr>
    <form action ="/service/sort_by_year" method ="post">
        <h4>년도 검색하세요 </h4>
        <td><input type ="text" name ="year"/></td>    
        <h4>몇 개년? </h4>
        <td><input type ="text" name ="how_many"/></td> 
        <input type ="submit" value = "Top Country 검색"/> 
    </form>
    <hr> <hr>
    <h4> 나라별 GDP 상승세 </h4>
    <a href="/service/search_country" class="form-control" style="margin-bottom: 5px;" > search_country</a>  
</body>
</html>