<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Good

    <input type='text' name="country" />
    <input type='submit' value='그래프 보기' />
    {% autoescape off %}
    <form action='/service/search_country_graph' method='GET'>
        {% for one in list %}
            <table>
                <tr>
                <input type="submit" value="{{one.CountryName}}" name = "CountryName" />
            <!-- <a href="/service/search_country_graph?name={{one.CountryName}}">{{ one.CountryName }}</a> -->
                </tr>
            </table>
        {% endfor %}
        
    {% endautoescape %}
    
            <!--{% autoescape off %}
            {{df_table}}
            {% endautoescape %}-->
        
    </form>
</body>
</html>