<!DOCTYPE html>
<html lang="en">
<!-- head.html -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
</head>

<body>
    <div class="container-md pt-5">
        {% if not request.user.is_authenticated %}
        <p><a href="/member/sign_in"  class="btn btn-dark"> 로그인 - SignIn </a></p>
        <p><a href="/member/sign_up"  class="btn btn-dark" > 회원가입 - SignUp </a></p>

        {% else %}

        <p> 반갑습니다. {{request.user.name}}님</p>
        <hr />
        아이디 정보 : {{request.user.username}} <br/>
        이름 정보   : {{request.user.name}} <br/>
        이메일 정보 : {{request.user.email}} <br/>
        <hr />
        
        <p><a href="/member/user_mypage"> 마이페이지 </a></p>
        <p><a href="/member/sign_out"> 로그아웃 </a></p>
        
        {% endif %}
    </div>
</body>
</html>