<!DOCTYPE html>
<html lang="en">
    {% include '../main/head.html' %}


<body class="container-fluid" >
    {% include '../main/navbar.html' %}

    <div class="container-md pt-5">
        <a href="/service/search_main"  type="button"> 메인으로 </a>
        <a href="/member/sign_up" class="btn btn-dark" > 회원가입 </a> 
        <div class="pt-3">
            <form action="/member/sign_in" method="post">
            {% csrf_token%}
            
            <p>
            아이디   : <input type="text" name="username"/>
            패스워드 : <input type="password" name="password"/>
            </p>

            <p><input type="submit" class="bn btn-dark" value="로그인"></p>
            <input type="hidden" name= next value="{{next}}"> 
            </form>  
        </div> 
    </div>
</body>

</html>




<div class="containerr-md pt-5" >
    <form class="form-signin" action="/member/sign_in" method="post" >
        <h1>Sign In Page</h1>
  
        <label for="text" class="sr-only">ID</label>
        <input type="text" name="id" class="form-control" placeholder="ID" />
  
        <label for="password" class="sr-only">PW</label>
        <input type="password" name="pw" class="form-control" placeholder="PW"/>
  
        <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
  
        <div style="margin-top:10px;">
        <a href="/member/sign_up" class="btn btn-lg btn-dark btn-block" role="button">Sign Up</a>
        <p class="mt-3 mb-3 text-muted">&copy; 2017-2019</p></div style="margin-top:10px;"> 
    </form>   
  <div>  