<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign_up</title>
</head>

<body>
    <div class="container-md pt-5">
        <a href="/service/search_detail"  type="button"> 메인으로 </a></p>

        <form action="/member/sign_up" method="post">
        {% csrf_token %}
        <h1>회원가입</h1>
        아이디   : <input type="text"     name="username" placeholder="8자이상"/><br/>
        패스워드 : <input type="password" name="password" placeholder = "8자이상"/><br/>
        이름     : <input type="name" name="name"       placeholder="홍길동"/><br/>
        이메일   : <input type="text" name="email"      placeholder="test1234@gamil.com"/><br/>
        <label for= "birth_date"> 생년월일 : </label>           
        <input type="date" name="birth_date" value="{{user_check.birth_date}}" />
    
        <input type="submit" class="btn btn-dark" value="가입"/><br/>
     </form>
    </div>
</body>
</html>
<!-- <body>
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input name="{{ field.html_name }}" id="{{ field.id_for_lable }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
            {% for error in field.errors %}
                <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="form-actions">
        <button class="btn btn-primary btn-large" type="submit">가입하기</button>
    </div>
</form>
</body>
</html> -->