<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign_in</title>
</head>

<body>

    <!-- {% if not request.user.is_authenticated %}
        <p>
            There's something wrong with what you entered!
        </p>
    {% else %}

    {% endif %} -->

    <div class="container-md pt-5">
        <a href="/service/search_detail"  type="button"> 메인으로 </a>
        <a href="/member/sign_up" class="btn btn-dark" > 회원가입 </a> 
        <div class="pt-3">
            <form action="/member/sign_in" method="post">
            {% csrf_token%}
            
            <p>
            아이디   : <input type="text" name="username"/>
            패스워드 : <input type="password" name="password"/>
            </p>

            <p><input type="submit" class="bn btn-dark" value="로그인"></p>
            <input type="hidden" name= next value="{{next}}"> 
            </form>  
        </div> 
    </div>
</body>

</html>




