<!DOCTYPE html>
<html lang="en">
<!-- head  -->
{% include '../main/head.html' %}
 <!-- 추가  -->
<!-- <link href="/static/css/postcss-1.css" rel="stylesheet"> -->
{% comment %} log-변경 01.24 {% endcomment %}

 <body class="bg-light">
    <div class="container" style="width: 100%">
         {% include '../main/navbar.html' %}
  <div class="py-0 text-center">
  <hr style="width:40%">
  <h2>Change Password</h2>
  <hr style="width:40%">
  </div>

    <div class="container-md pt-2">
        <form class="needs-validation" action="/member/user_edit_pw" method="post" novalidate>
        {% csrf_token %}
        <div class="container-md pt-2"  style="width:40%">
            <div class=" mb-2">
                <label for="username">ID</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="ID" value="{{user_check.username}}" readonly>
            </div>
            <div class=" mb-2">
                <label for="password">PW</label>
                <input type="password" class="form-control" name="pw" id="pw" placeholder="PW"  >
            </div>
            <div class=" mb-2">
                <label for="password">New PW</label>
                <input type="password" class="form-control" name="new_pw" id="new_pw" placeholder="PW"  >
            </div>
            <div class=" mb-2">
                <label for="password">New PW Check</label>
                <input type="password" class="form-control" name="new_pw" id="new_pw" placeholder="PW"  >
            </div>
            <hr class=" mb-3">
            <input  onclick="history.back();"  class="btn btn-lg btn-dark btn-block" value="Back"/>
            <button class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>
            <hr>
        </div>
        </form>
        {% include '../main/footer.html' %}
    </div>
</body>
</html>
