<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user_edit_check</title>
</head>

<body>
    <div class="container-md pt-5">
        <div class="pt-3">
            <form action="/member/user_edit_check" method="post">
            {% csrf_token%}

            {% if Check_Method %}
                비밀번호를 입력하세요
            {% else %}
                올바른 비밀번호를 입력해주세요
            {% endif %} 

            <p>
                아이디   : <input type="text" name="username" value="{{user_check.username}}"readonly/>
                패스워드 : <input type="password" name="password"/>
            </p>

            <p><input type="submit" class="bn btn-dark" href="/member/user_edit_pw" value="이동">
            <input type="button" value="뒤로가기" onclick="history.back();" /></p>
            <input type="hidden" name= next value="{{next}}"> 
            </form> 

        </div> 
    </div>
</body>
</html>
